<html>
      <head>
            <link rel="stylesheet" type="text/css" href="../static/css/materialize.css">
            <link href='https://fonts.googleapis.com/css?family=Rosario:400' rel='stylesheet' type='text/css'>
            <title>{{ .Title}}</title>
      </head>
      <body>
            <h1 class="center-align"> {{ .Title}} </h1>
    <nav>
          <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/Weather">WEATHER</a></li>
                <li><a href="/NumVerify">VERIFY NUMBER</a></li>
          </ul>
      </nav>
    <br><br>
    <div class="container">
      <p> Go was invented in 2007 at such a time when multicore CPU architectures were common everywhere, and no programming language simplified the development of multithreaded applications. The responsibility of managing different threads safely and efficiently was a huge responsibility on developers. Go is different from other languages; it is young yet so powerful.
      Being a compiled, statically typed language, it’s much faster than interpreted options and also offers most of the performance benefits.
      </p>
      <p> Go as a language is more similar to C, however in addition to C features, Go offers memory safety, garbage collection, structural typing, and CSP-Style concurrency.
      </p>
    </div>
    </body>
</html>